body {
  margin: 0;
  padding: 0;
  padding-top: 7px;

}
.container {
  width: 70%;
  margin: 0 auto;
}
.menu {
  float: right;
}
header {
  box-sizing: border-box;
  height: 740px;
  background-image: url(./img/Rectangle.png);
  padding-top: 30px;
}
.header_text {
  margin: 0 auto;
  width: 734px;
  margin-top: 91px;
  text-align: center;
  color: #ffffff;
  font-family: "Oswald";
}
.header-title {
  height: 171px;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  line-height: 95px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 43px;
}
.header-sub {
  height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
}
.info {
  position: relative;
  margin: 0 auto;
  margin-top: 133px;
  width: 1110px;
  height: 172px;
  background-color: #f7f7f7;
}
.num1,
.num2,
.num3,
.num4 {
  position: absolute;
  height: 86px;
  width: 190px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 107px;
  text-align: center;
  text-transform: uppercase;
  color: #f7654a;
  top: 57px;
}
.num1,
.info_text1 {
  left: 130px;
}
.num2,
.info_text2 {
  left: 350px;
}
.num3,
.info_text3 {
  left: 570px;
}
.num4,
.info_text4 {
  left: 790px;
}
main {
  height: 1074px;
}
.info2 {
  position: relative;
  margin: 0 auto;
  width: 1110px;
  height: 128px;
  background-color: #f7f7f7;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.info_text1,
.info_text2,
.info_text3,
.info_text4 {
  width: 190px;
  height: 75px;
  position: absolute;
  bottom: 57px;
}
.info-title1,
.info-title2,
.info-title3,
.info-title4 {
  height: 43px;
  font-size: 2.25rem;
  line-height: 53px;
  color: #000000;
}
.info-sub1,
.info-sub2,
.info-sub3,
.info-sub4 {
  margin-top: 10px;
  height: 22px;
  font-size: 1.125rem;
  line-height: 27px;
  color: #999999;
}
.mainheader {
  margin: 0 auto;
  height: 53px;
  width: 419px;
  padding-top: 91px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.maincontainer {
  margin: 0 auto;
  margin-top: 74px;
  width: 1110px;
  height: 681.75px;
}
.photocontainer {
  height: 380px;
  width: 1110px;
  overflow: hidden;
}

.photo1,
.photo2,
.photo3 {
  float: left;
  height: 380px;
}
.photo2 {
  margin-left: 32px;
  margin-right: 30px;
}
.rectcontainer {
  margin-top: 45px;
  height: 6px;
  width: 1110px;
  overflow: hidden;
}
.rect1,
.rect2,
.rect3 {
  width: 55px;
  height: 6px;
  background-color: #f7654a;
  float: left;
}
.rect2 {
  margin-left: 325px;
  margin-right: 325px;
}
.texttitle {
  margin-top: 15px;
  overflow: hidden;
  width: 1110px;
  height: 32px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 36px;
  text-align: left;
  color: #404149;
}
.title1,
.title2,
.title3 {
  width: 142px;
  float: left;
}
.title2 {
  margin-left: 238px;
  margin-right: 238px;
}
.textsub{
    width: 1110px;
    margin-top: 20px;
  overflow: hidden;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 22px;
  color: #999999;
}
.sub1,.sub2,.sub3{
    float: left;
    width: 350px;
}
.sub2{
    margin-left: 30px;
    margin-right: 30px;
}
footer{
    height: 181px;
    background-color: #F7654A;
    font-family: Oswald;
font-style: normal;
color: #FFFFFF;
overflow: hidden;
}
.textblock{
    letter-spacing: 0.02em;
    font-weight: 700;
    float: left;
    padding-top: 30px;
    padding-left: 405px;
}
.txt1{
    font-size: 3.125rem;
line-height: 74px;
margin-bottom: 20px;
}
.txt2{
    font-size: 1.5rem;
line-height: 36px;
}
button{
    padding: 0;
    overflow: hidden;
    height: 49px;
    width: 175px;
    border:none ;
    background-color: #ffffff;
    float: left;
    margin-left: 398px;
    margin-top: 73px;
}
.connect{
    text-decoration: none;
    color: black;
    font-family: Oswald;
    font-weight: 500;
font-size: 0.875rem;
line-height: 21px;
letter-spacing: 0.05em;
}
.mail, .mailto{
    float: left;
    height: 21px;   
}
.mail{
    padding-right: 15px;
    padding-left: 30px;
}
.mailto{
    padding-right: 40px;
}