p{
    color:blue;
    background-color: brown;
    width: 400px;
    height: 400px;
}
div{
    color:green;
    height: 400px;
    background-color: cadetblue;
}
#d{
    background-color: black;
}
pre{
    min-width: 500px;
    max-width: 800px;
    height: 400px;
    font-family: Arial;
}