div > p{
    background-color: green;

}
div > h4{
    background-color: blue;
}
div + p{
    color:blue;
}
.z2{
height: 100px;
width: 100px;
background-color: brown;
}
.z2:hover{
    background-color: blue;
}
.z2:hover::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: cadetblue;
    display: inline-block;
    border-radius: 100%;
}